<div class="main-body col-lg-12 col-md-12">
  <div class="main-body-center">
    <wizard on-finish="self.onFinish()" on-cancel="self.onCancel()" name="wiMachineLearning"> 
    <wi-machine-learning-navigator wz-name="wiMachineLearning"></wi-machine-learning-navigator>
    <wz-step wz-title="CURVE SELECTION" style="height: 70vh">
      <wi-curves-selection curves="self.input_curves"></wi-curves-selection>
    </wz-step>
    <wz-step wz-title="MODEL PARAMETERS" style="height: 70vh">
      <wi-model-selection id-project="self.idProject"></wi-model-selection>
    </wz-step>
    <wz-step wz-title="INPUT DATA" style="height: 70vh">
      <wi-wells-selection></wi-wells-selection>
    </wz-step>
    </wizard>
  </div>
</div>
