<div class="wrapper"> 
  <side-bar my-default-width="300" style="border-right: 1px solid #dedede;" class="project-list">
    <div class="height-40">
      <div style="position: sticky; position: -webkit-sticky; z-index: 1; top: 0;">
        <div class="label-list-view">
          <span class="title">List of project</span>
        </div>
        <input class="input-search-list-view" type="text" placeholder="Search your project" ng-model="projectSearch">
      </div>
      <wi-base-treeview name="abc" config="self.listOfProject" on-click-function="self.onClickProjectItem" filter="{{ projectSearch }}">
      </wi-base-treeview>
    </div>
    <div class="height-60">
      <div style="position: sticky; position: -webkit-sticky; z-index: 1; top: 0;">
        <div class="label-list-view">
          <span class="title">List of well</span>
          <span class="label-buttom fa fa-forward" aria-hidden="true" ng-click="self.onClickPushSelectedWell()"></span>
          <span class="label-buttom fa fa-minus-circle" aria-hidden="true" ng-click="self.onClickRefreshWellList()"></span>
        </div>
        <input class="input-search-list-view" type="text" placeholder="Search well this project" ng-model="wellSearch">
      </div>
      <wi-base-treeview name="abc" config="self.listOfWell" on-click-function="self.onClickWellItem" filter="{{ wellSearch }}">
      </wi-base-treeview>
    </div>
  </side-bar>
  <side-bar my-default-width="500" style="border-right: 1px solid #dedede;" class="well-selected">
    <div class="menu-left-top">
      <div style="position: sticky; position: -webkit-sticky; z-index: 1; top: 0;">
        <div class="label-list-view">
          <span class="title">List of selected well</span>
          <span class="label-buttom fa fa-minus-circle" aria-hidden="true"></span>
          <span class="label-buttom fa fa-caret-left" aria-hidden="true" ng-click="self.onClickRemoveSelectedWell()"></span>
        </div>
        <input class="input-search-list-view" type="text" placeholder="Search well displayed" ng-model="wellSelectedSearch">
      </div>
      <wi-base-treeview name="abc" config="self.listOfSelectedWell" on-click-function="" filter="{{ wellSelectedSearch }}">
          </wi-base-treeview>
    </div>
  </side-bar>
</div>
